<div class="container-fluid">
  <div class="row justify-content-center position-relative">
    <div class="col-lg-5">
      <div class="pb-5 pt-4">
        <app-abstract-model
          [tableModel]="tableModelK"
          [name]="'tableModelK'"
          [title]="'Розрахунок критеріїв аналогії'"
          (saveModel)="saveModel($event)"
        >
          <div class="">
            <p>
              <b>К12</b> – <i class="text-black-50">відношення річного об`єму води, що поступає до об`єму водосховища в період НПР</i>
            </p>
            <p>
              <b>К13</b> – <i class="text-black-50">відношення малої вісі до великої вісі</i>
            </p>
            <p>
              <b>К14</b> – <i class="text-black-50">коефіцієнт звивистості, відношення довжини берегової лінії до довжини окружності кола, з площею, що дорівнює площі водойми</i>
            </p>
            <p>
              <b>К15</b> – <i class="text-black-50">коефіцієнт ємності, відношення середньої глибини до максимальної глибини</i>
            </p>
            <p>
              <b>К21</b> – <i class="text-black-50">питомий водозбір, відношення площі водозбору до площі дзеркала</i>
            </p>
            <p>
              <b>К22</b> – <i class="text-black-50">лісистість, %</i>
            </p>
            <p>
              <b>К23</b> – <i class="text-black-50">розораність, %</i>
            </p>
            <p>
              <b>К51</b> – <i class="text-black-50">каламутність води</i>
            </p>
          </div>
        </app-abstract-model>
      </div>

      <div class="pb-5 pt-4">
        <app-abstract-model [tableModel]="tableModelE" [title]="'Розрахунок вагових коефіцієнтів'">
        </app-abstract-model>
      </div>


      <div class="pb-5 pt-4">
        <app-abstract-model [tableModel]="tableModelMN" [title]="'Розрахунок матриці мiри розбіжності'">
        </app-abstract-model>
      </div>

      <div class="pb-5 pt-4">
        <app-abstract-model
          [tableModel]="tableModel552"
          [name]="'tableModel552'"
          [title]="'Середні значення коефіцієнта відносної каламутності'"
          (saveModel)="saveModel($event)"
        >
        </app-abstract-model>
      </div>
    </div>

    <div class="col-lg-7">
      <div class="calculated-tables position-sticky">
        <div class="pb-5 pt-4">
          <app-abstract-model
            [tableModel]="tableModel4"
            [name]="'tableModel4'"
            [title]="'Таблиця вихідних даних для перерахунку оцінок замулення'"
            (saveModel)="saveModel($event)"
          >
          </app-abstract-model>
        </div>

        <div class="pb-5 pt-4">
          <app-abstract-model
            [tableModel]="tableModel553"
            [name]="'tableModel553'"
            [title]="'Об\'єми та маси намулу в водосховищах-аналогах '"
            (saveModel)="saveModel($event)"
          >
          </app-abstract-model>
        </div>
      </div>
    </div>
  </div>

</div>
